<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>com.apple.developer.proximity-reader.payment.acceptance</key>
    <true/>
    <key>com.apple.security.application-groups</key>
    <array><string>group.app.forgecrm</string></array>
    <key>keychain-access-groups</key>
    <array><string>$(AppIdentifierPrefix)app.forgecrm.widgets</string></array>
    <key>com.apple.developer.associated-domains</key>
    <array><string>applinks:www.forgecrm.app</string></array>
</dict>
</plist>
